@import "src/styles.scss";

:host {
  .title {
    color: white;
    font-weight: regular;
    font-size: 3.25rem;
    padding: 1.5rem;
    font-weight: normal;
    margin: 0;
  }
  .topography-container {
    @extend .container;
    .contain {
      width: 400x;
      height: 50px;
      &:hover{
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        background: white;
        border-radius: 25px;
        h5 {
          padding: 1rem;
          font-weight: 1rem;
        }
      }
    }
    .ci {
      &:hover {
        background: pink !important;
      }
    }
  }
}
